@import "src/styles/breakpoints";
$table-br: 10px;

.table {
  :global {
    .p-datatable-header {
      border-radius: $table-br $table-br 0 0;
    }
    .p-datatable-footer {
      border-radius: 0 0 $table-br $table-br;
    }
    .p-datatable-wrapper {
      @include desktop {
        border-bottom: 1px solid #dee2e6;
        border-radius: 0 0 10px 10px;
      }
      @include tablet {
        border-bottom: 1px solid;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.column-mobile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}