@import 'src/styles/breakpoints';

.navbar {
  //display: none;
  height: 100%;
  width: 250px;
  background-color: transparent;
  border-right: 1px solid #22c55e78;

  @include tablet {
    width: 70px;
  }

  @include mobile {
    width: 100%;
    height: 50px;
  }
}

.link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  height: 40px;
  padding-left: 20px;

  &:hover {
    background-color: #22c55e78;
  }
}