@import "src/styles/breakpoints";
@import "src/styles/variables";

.page-layout {
  height: 100vh;
}

.content {
  position: relative;
  flex: 1;
  max-width: $page-content-max-width;
  width: 100%;
  padding: $page-safe-area-y $page-safe-area-x;
  min-width: 400px;
  margin: 0 auto;
}
.content-absolute {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
}
.content-inner {
  max-width: $page-content-max-width;
  width: 100%;
  padding: $page-safe-area-y $page-safe-area-x;
}